@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* login page */
.login-bg {
  background-image: url("./assets/icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.register-bg {
  background-image: url("./assets/icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Store hero */
.Store-hero-bg {
  background-image: url("./assets/icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Saved Product Page Hero bg */
.Product-page-hero-bg {
  background-image: url("./assets/icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
